html, body {
    margin: 0;
    padding: 0;
    background: #FCFCFA;
    font-size: 15px;
}

#app {
    position: relative;
    width: 100%;
    padding: 10px 0 30px 270px;
    box-sizing: border-box;
    max-width: 1080px;
}

input {
    font-size: 15px;
}


.tip {
    position: fixed;
    top: 20px;
    left: 0;
    width: 20%;
    max-width: 273px;
    right: 0;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border-radius: 30px;
    background: #3B7BD6;
    color: #FFF;
    letter-spacing: 1px;
}

.app_header {
    background: #FCFCFA;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    padding: 0 10px;
    box-sizing: border-box;
    max-width: 1080px;
    border-right: 1px solid #EEE;
}

.app_search-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.app_search-wrap label {
    width: 100%;
    max-width: 320px;
    position: relative;
    text-align: center;
}

#app_search {
    padding: 10px 45px 10px 15px;
    width: 90%;
    outline: none;
    border: 1px solid #2885C3;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 15px;
}

.app_clear, app_delete {
    display: block;
    width: 27px;
    height: 27px;
    top: 50%;
    cursor: pointer;
    position: absolute;
    right: 21px;
    transform: translateY(-50%);
}

.app_clear:after, .app_clear:before {
    position: absolute;
    content: '';
    width: 8px;
    height: 1px;
    background: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.app_clear:before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.app_nav {
    margin: 12px 0 6px 0;
    text-align: center;
}

.app_nav a {
    padding: 5px 15px;
    display: inline-block;
    cursor: pointer;
    margin: 3px;
}

.app_content {
    overflow: hidden;
    padding-right: 20px;
}

.app_content_item {
    display: flex;
    align-items: center;
}

.app_content a {
    padding: 0 15px;
    display: flex;
    text-align: left;
    line-height: 2.4;
    flex: 1;
    text-decoration: none;
    color: #3D658D;
    align-items: center;
    position: relative;
    background-clip: padding-box;
}

.app_delete {
    background: #EEE;
    cursor: pointer;
    color: #999;
    padding: 3px 10px;
    letter-spacing: 1px;
    border-radius: 3px;
    font-size: 12px
}

.app_content a:hover .app_delete {
    background: red;
}

.app_content a:hover, .app_nav a:hover, .active, .app_delete:hover {
    text-decoration: none;
    background: #2085C5;
    color: #FFF !important;
    border-radius: 3px;
}

.app_content a img {
    background-repeat: no-repeat;
    height: 16px;
    margin: 0 18px 0 0px;
    width: 16px;
    vertical-align: middle;
    min-width: 16px;
}

.app_empty {
    text-align: center;
    margin: 30px;
    font-size: 24px;
}

.app_empty_true {
    color: #666;
}

.app_empty_false {
    color: #1600FF;
}

[v-cloak] {
    display: none !important;
}

#app_footer {
    position: fixed;
    bottom: 8px;
    right: 15px;
}

#app_footer p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

@media all and (min-width: 1500px) {
    #app {
        max-width: 100%;
    }

    .app_content span {
        flex-wrap: wrap;
        display: flex;
    }

    .app_content_item {
        width: 45%;
    }
}